<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WC party automator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<main>
  <div class="main_menu">
    <h2 class="title">Create A Party</h2>
    <form method="POST" action="{{ url_for('create_party') }}" class="main_menu_inner">
      <div class="row">
        <label class="text" for="name">Party Name:</label>
        <input type="text" id="name" name="host_name" class="underline_input long_width" required>
      </div>
      <div class="row">
        <label class="text" for="location">Location:</label>
        <input type="text" id="location" name="location" class="underline_input" required>
      </div>
      <div class="row">
        <label class="text" for="budget">Budget:</label>
        <label class="text dollar_sign" for="budget">$</label>
        <input type="number" class="underline_input small_width" id="budget" name="budget" min="0" step="0.01" required>
      </div>
      <div class="row">
        <label class="text" for="guests">Maximum Guests:</label>
        <input type="number" id="guests" name="max_guests" class="underline_input small_width" min="1" required>
      </div>
      <div></div> 
      <div></div>
      <button type="submit" id="submit" class="submit">Create Party</button>
    </form>
  </div>
</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
