<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Party Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>{{ party["host_name"] }}'s Party</h1>

        <p>
            <strong>Party code:</strong>
            {{ party["code"] }}
        </p>

        <p>
            <strong>Location:</strong>
            {{ party["location"] }}
        </p>

        <p>
            <strong>Budget:</strong>
            ${{ party["budget"] }}
        </p>

        <p>
            <strong>Number of guests:</strong>
            {{ guests|length }} / {{ party["max_guests"] }}
        </p>

        <a href="{{ url_for('join_party', code=party['code']) }}">
            Join this party
        </a>

        <h2>Guests</h2>

        {% if guests %}
            <ul>
                {% for guest in guests %}
                    <li>{{ guest["guest_name"] }} - Favorite team: {{ guest["favorite_team"] }}</li>
                {% endfor %}
            </ul>
            <h1>Recommended Match:</h1>
            <h2>
                {{ best_match["team1"] }}
                vs
                {{ best_match["team2"] }}
            </h2>
            <p>
                Date: {{ best_match["date"] }}
            </p>
            <p>
                Time: {{ best_match["time"] }}
            </p>
            <p>
                Guests available: 
                <ul>
                    {% for guest in best_match["available_guests"] %}
                        <li>{{ guest }}</li>
                    {% endfor %}
                </ul>
            </p>
            <p>
                Guests supporting one of these teams:
                <ul>
                    {% for guest in best_match["supporters"] %}
                        <li>{{ guest }}</li>
                    {% endfor %}
                </ul>
            </p>
            <button id="generate-plan" 
                    data-code="{{ party['code'] }}" 
                    data-team1="{{ best_match['team1'] }}" 
                    data-team2="{{ best_match['team2'] }}">
                Generate Plan
            </button>
        {% else %}
            <p>No guests have joined yet.</p>
        {% endif %}
        <div id="generated-plan-container"></div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>