<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Party Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">         
    </head>
    <main> 
      <div class="row">
      <div class="menu" style="height:100vh">
        <div class="main_menu_inner">
        <h1 class="title">{{ party["host_name"] }}'s Party</h1>
        <div class="card">
        <div class="text large_text">Party Details</div>
        <br>
        <div class="text">
            <strong>Party code:</strong>
            {{ party["code"] }}
            <br>
            <strong>Location:</strong>
            {{ party["location"] }}
            <br>
            <strong>Budget:</strong>
            ${{ party["budget"] }}
            <br>
            <strong>Number of guests:</strong>
            {{ guests|length }} / {{ party["max_guests"] }}
            {% if guests %}
            <ul class="text" style="margin: 0; padding-left: 20px;">
                {% for guest in guests %}
                    <li>{{ guest["guest_name"] }} - Favorite team: {{ guest["favorite_team"] }}</li>
                {% endfor %}
            </ul> 
        </div>
        <br>
        <button class="create" onclick="toClipboard('{{ url_for('join_party', code=party['code']) }}')"> Copy Party Join Link</button>
        </div>
        <br>
        <h2 class="title" style="margin: 0; padding-left: 20px;">Recommended Match:</h2>
        <div class="card">
            <h2 class="large_text">
                {{ best_match["team1"] }}
                vs
                {{ best_match["team2"] }}
            </h2>
            <div class="text">
                <strong>Date:</strong> {{ best_match["date"] }}
                <br>
                <strong>Time:</strong> {{ best_match["time"] }}
                <br>    
                <strong> {{ best_match["available_guests"] | length }}/{{ guests | length}} Guests Available</strong>
                <ul class="text" style="margin: 0; padding-left: 20px;">
                    {% for guest in best_match["available_guests"] %}
                        <li>{{ guest }}</li>
                    {% endfor %}
                </ul>
              <br>
              {% if best_match["supporters"] %}
              <strong>Guests supporting one of these teams:</strong>
                <ul>
                    {% for guest in best_match["supporters"] %}
                        <li>{{ guest }}</li>
                    {% endfor %}
                </ul>
              {% else %}
              <strong>No guests support any of these teams.</strong>
              {% endif %}
            </div>
            <p></p>
            <button id="generate-plan" class="submit"
                    data-code="{{ party['code'] }}" 
                    data-team1="{{ best_match['team1'] }}" 
                    data-team2="{{ best_match['team2'] }}">
                Generate Plan
            </button>
        {% else %}
            <p>No guests have joined yet.</p>
        {% endif %}
        </div>
      </div>
     </div> 
 
 <div id="generated-plan-container" class="menu" style="display:none; height:100vh"></div>  
      </div>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
 
    </main>
</html>
